<p>Browse to learn more about the services we offer!</p>
<%= @service.name %>
<% if current_page?(controller: "services", action: "show", id: "1") %>
  <% @services.where(category_id: 1).each do |service| %>
    <div class="card-product">
      <img src="https://magictouchsd.com/wp-content/uploads/2019/10/professional-laundry-service-1200x480.jpg"/>
      <div class="card-product-infos">
        <h2><%= service.name%></h2>
        <p><%= service.rate%></p>
        <p> <%=service.description %><strong>click to learn more about the service</strong>.</p>
        <%= link_to 'Bookings', new_service_booking_path(service) %>
      </div>
    </div>
  <% end %>
<% end %>
<% if current_page?(controller: "services", action: "show", id: "2") %>
  <% @services.where(category_id: 2).each do |service| %>
    <div class="card-product">
      <img src="https://magictouchsd.com/wp-content/uploads/2019/10/professional-laundry-service-1200x480.jpg"/>
      <div class="card-product-infos">
        <h2><%= service.name%></h2>
        <p><%= service.rate%></p>
        <p> <%=service.description %><strong>click to learn more about the service</strong>.</p>
        <%= link_to 'Bookings', new_service_booking_path(service) %>
      </div>
    </div>
  <% end %>
<% end %>
<% if current_page?(controller: "services", action: "show", id: "3") %>
  <% @services.where(category_id: 3).each do |service| %>
    <div class="card-product">
      <img src="https://magictouchsd.com/wp-content/uploads/2019/10/professional-laundry-service-1200x480.jpg"/>
      <div class="card-product-infos">
        <h2><%= service.name%></h2>
        <p><%= service.rate%></p>
        <p> <%=service.description %><strong>click to learn more about the service</strong>.</p>
        <%= link_to 'Bookings', new_service_booking_path(service) %>
      </div>
    </div>
  <% end %>
<% end %>
<% if current_page?(controller: "services", action: "show", id: "4") %>
  <% @services.where(category_id: 4).each do |service| %>
    <div class="card-product">
      <img src="https://magictouchsd.com/wp-content/uploads/2019/10/professional-laundry-service-1200x480.jpg"/>
      <div class="card-product-infos">
        <h2><%= service.name%></h2>
        <p><%= service.rate%></p>
        <p> <%=service.description %><strong>click to learn more about the service</strong>.</p>
        <%= link_to 'Bookings', new_service_booking_path(service) %>
      </div>
    </div>
  <% end %>
<% end %>
