<h1>All Bookings</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Cleaner</th>
      <th>Confirmation</th>
      <th>Status</th>
      <!-- Add more columns as needed -->
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.id %></td>
        <td><%= booking.name %></td>
        <td><%= booking.service.rate %></td>
         <td><%= booking.status %></td>
        <td>
          <%= link_to "Delete",
            booking_path(booking),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
          %>
        </td>
        <!-- Display other attributes as needed -->
      </tr>
    <% end %>
  </tbody>
</table>






<h1>Services awaiting my confirmation</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Cleaner</th>
      <th>Confirmation</th>
      <th>Status</th>
      <!-- Add more columns as needed -->
    </tr>
  </thead>
  <tbody>
    <% @other_bookings.each do |booking| %>
      <tr>
        <td><%= booking.id %></td>
        <td><%= booking.name %></td>
        <td><%= booking.service.rate %></td>
         <td><%= booking.status %></td>
         <% if booking.status == "Pending" %>
        <td>
          <%= button_to "Confirm" , confirm_booking_path(booking), method: :patch %>
          <%= button_to "Reject" , decline_booking_path(booking), method: :patch %>
        </td>
        <% end %>
        <!-- Display other attributes as needed -->
      </tr>
    <% end %>
  </tbody>
</table>
