
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('<%= image_path( 'banner.jpg') %>');">
  <div class="container">
    <h1>Welcome to CleanBlaster 🙋</h1>
    <p>Your trusted partner for professional cleaning services, making your space shine </p>
  </div>
</div>

<div class="features-section-container">
<div class="features-section">

  <%= image_tag('ndis.jpeg') %>

   <% if @categories.any? %>
      <p><%= link_to "House Cleaning", service_path(@services.first) %></p>
    <% end %>
    <p>Discover the ultimate in home hygiene with our meticulous house cleaning services. Your sanctuary, our expertise!.</p>


  </div>

<div class="features-section">

  <%= image_tag('landscaping.jpeg') %>
    <% if @categories.any? %>
      <p><%= link_to "Landscaping", service_path(@services[1]) %></p>
    <% end %>
    <p>Elevate your outdoor oasis with our premier landscaping cleaning services. Unleash the true beauty of your yard!</p>

  </div>

<div class="features-section">

  <%= image_tag('construction.jpeg') %>
    <% if @categories.any? %>
      <p><%= link_to "Construction", service_path(@services[2]) %></p>
    <% end %>
    <p>Transforming construction chaos into pristine spaces.Our construction cleaning team delivers excellence in every detail.</p>

  </div>

<div class="features-section">

<%= image_tag('deep cleaning.jpeg') %>

    <% if @categories.any? %>
      <p><%= link_to "Office", service_path(@services[3]) %></p>
    <% end %>
    <p>Elevate workplace hygiene and productivity with our top-tier office cleaning solutions.
     Your success, our cleanliness commitment.</p>

  </div>

</div>
