<% @categories.each do |category|%>
  <%= link_to category.description, service_path(category)%>
<% end %>



<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('<%= image_path( 'banner.jpeg') %>');">
  <div class="container">
    <h1>Welcome to CleanBaster.</h1>
    <p>Your trusted partner for professional cleaning services, making your space shine</p>
  </div>
</div>

<div class="features-section-container">
<div class="features-section">

  <%= image_tag('ndis.jpeg') %>

   <% if @categories.any? %>
      <p><%= link_to "House Cleaning", service_path(@services.first) %></p>
    <% end %>
    <p>Discover our amazing feature 1.</p>


  </div>

<div class="features-section">

  <%= image_tag('landscaping.jpeg') %>
    <% if @categories.any? %>
      <p><%= link_to "Landscaping", service_path(@services[1]) %></p>
    <% end %>
    <p>Discover our amazing feature 2.</p>

  </div>

<div class="features-section">

  <%= image_tag('construction.jpeg') %>
    <% if @categories.any? %>
      <p><%= link_to "Construction", service_path(@services[2]) %></p>
    <% end %>
    <p>Discover our amazing feature 3.</p>

  </div>

<div class="features-section">

<%= image_tag('deep cleaning.jpeg') %>

    <% if @categories.any? %>
      <p><%= link_to "Office", service_path(@services[3]) %></p>
    <% end %>
    <p>Discover our amazing feature 4.</p>

  </div>

</div>
