<% @categories.each do |category|%>
  <%= link_to category.description, service_path(category)%>
<% end %>

<div class="features-section">

  <%= image_tag(construction cleaning.jpeg) %>

    <h2>Feature 1</h2>
    <p>Discover our amazing feature 1.</p>
    <span class="icon fa fa-star"></span>
  </div>

<div class="features-section">

  <%= image_tag(deep cleaning.jpeg) %>
    <h2>Feature 2</h2>
    <p>Discover our amazing feature 2.</p>
    <span class="icon fa fa-star"></span>
  </div>

<div class="features-section">

  <%= image_tag(oven cleaning.jpeg) %>
    <h2>Feature 3</h2>
    <p>Discover our amazing feature 3.</p>
    <span class="icon fa fa-star"></span>
  </div>

<div class="features-section">

<%= image_tag(ndis.jpeg) %>

    <h2>Feature 3</h2>
    <p>Discover our amazing feature 4.</p>
    <span class="icon fa fa-star"></span>
  </div>
